@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 800px;
    text-align: center;
}

h1 {
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    font-weight: 300;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label, .select {
    width: 100%;
    margin-bottom: 20px;
}

button, select {
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    transition: all 0.3s ease;
    appearance: none;
    border: none;
    color: #fff;
    background: #2d2d2d;
}

button {
    background-color: #0a84ff;
    box-shadow: 0 0 10px #007aff;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #007aff;
    box-shadow: 0 0 20px #007aff;
}

button:disabled {
    background-color: #333;
    box-shadow: none;
}

.form-section {
    position: relative;
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.form-section.show {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
}

option {
    color: #fff;
    background: #121212;
}

option:checked {
    background: #0a84ff;
}

/* The following CSS rules are browser specific.
Don't modify unless you're familiar with them.
Friendly reminder from Digvijay */

select {
    background-color: #2d2d2d;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

select:focus {
    box-shadow: 0 0 10px #007aff;
    outline: none;
}

option {
    color: #fff;
    background-color: #121212;
}

option:checked {
    background-color: #0a84ff;
}
